html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100%;
}


header {
    background-color: green;
    margin: 0;
    color: white;
    font-size: 30px;
    flex: 1;
    max-height: 57px;
    margin-bottom: 45px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    padding: 20px 0px 0px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    padding: 20px 20px 0 20px;

  }

  a {
    text-decoration: none;
  }

  .tabs-list > li {
    margin-left: 20px;
  }

 #content {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

 }

 li:hover {
    background-color: rgb(2, 58, 2);
 }

 .footer {
    background-color: rgb(212, 4, 4);
    color: white;
    padding: 20px;
    text-align:center;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#main-content {
    background-color: rgb(46, 44, 44);
    margin: 0 auto 45px auto;
    max-width: 818px;
    border-radius: 40px;
    padding: 30px;
}

.main-content-info {
    background-color: rgb(7, 7, 95);
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.hours {
    text-align: center;
}

.header-main-content {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}